div.main ul li {
list-style-image:none;
}
pre {
  margin-top:2px;
  margin-bottom:2px;
  margin-left:1em;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  border:dotted #CCCCFF 1px;
  background-color:#EEEEEE;
}
